.github-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.github-header {
    text-align: center;
    margin-bottom: 20px;
}

.github-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#calender{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}